.btn {
  padding: 8px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s cubic-bezier(0.67, 0.02, 0.33, 0.98);
}

.btn:hover {
  box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.2),
    inset -5px -5px 10px 0px rgba(255, 255, 255, 0.05),
    0px 0px 4px rgba(255, 255, 255, 0);
}

.btn--medium {
  padding: 8px 18px;
  font-size: 18px;
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0), 5px 5px 10px 0px rgba(0, 0, 0, 0.2),
    -5px -5px 10px 0px rgba(255, 255, 255, 0.05),
    inset 0px 0px 4px rgba(255, 255, 255, 0);
}

.orange {
  background-color: #ee5a24;
  color: white;
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0), 5px 5px 10px 0px rgba(0, 0, 0, 0.2),
    -5px -5px 10px 0px rgba(255, 255, 255, 0.05),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    0px 0px 10px rgba(238, 90, 36, 0.8);
}

.orange:hover {
  box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.2),
    inset -5px -5px 10px 0px rgba(255, 255, 255, 0.05),
    0px 0px 4px rgba(238, 90, 36, 0.8);
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;

  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0), 5px 5px 10px 0px rgba(0, 0, 0, 0.2),
    -5px -5px 10px 0px rgba(255, 255, 255, 0.05),
    inset 0px 0px 4px rgba(255, 255, 255, 0);
}

.btn--mobile {
  text-align: center;
  border-radius: 5px;
  width: 80%;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 14px 20px;
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0), 5px 5px 10px 0px rgba(0, 0, 0, 0.2),
    -5px -5px 10px 0px rgba(255, 255, 255, 0.05),
    inset 0px 0px 4px rgba(255, 255, 255, 0);
}

.btn--wide {
  padding: 12px 64px;
  font-size: 20px;
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0), 5px 5px 10px 0px rgba(0, 0, 0, 0.1),
    -5px -5px 10px 0px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0);
}

.btn--form {
  padding: 8px 64px;
  font-size: 20px;
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0), 5px 5px 10px 0px rgba(0, 0, 0, 0.1),
    -5px -5px 10px 0px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0);
}
