.contact-form {
  align-items: center;
  max-width: 900px;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.contact-form-title {
  text-align: center;
  color: #252e48;
  padding: 30px;
}

.contact-email-input {
  padding: 8px 24px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
  width: 100%;
  border: none;
  background-color: #f1f3f6;
  box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.2),
    inset -5px -5px 10px 0px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, 0);
  margin-bottom: 15px;
}

.contact-email-input:hover {
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0), 5px 5px 10px 0px rgba(0, 0, 0, 0.2),
    -5px -5px 10px 0px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0);
}

.contact-email-input::placeholder {
  color: #b1b1b1;
}

.contact-input-item {
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.contact-form-container {
  width: 100%;
}

.form__items {
  display: flex;
}

.form-text {
  color: #252e48;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 15px;
}

.form-center {
  padding: 8px 24px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

@media screen and (max-width: 1100px) {
  .form-center {
    display: block;
  }

  .form__items {
    display: block;
  }

  .contact-form {
    width: 90%;
  }
}
