.email-input {
  padding: 8px 24px;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 16px;
  border: none;
  transition: all 0.2s cubic-bezier(0.67, 0.02, 0.33, 0.98);
  margin: 10px;
  background-color: #212121;
  box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.2),
    inset -5px -5px 10px 0px rgba(255, 255, 255, 0.05),
    0px 0px 4px rgba(255, 255, 255, 0);
}

.btn {
  margin: 10px;
}

.email-input:hover {
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0), 5px 5px 10px 0px rgba(0, 0, 0, 0.2),
    -5px -5px 10px 0px rgba(255, 255, 255, 0.05),
    inset 0px 0px 4px rgba(255, 255, 255, 0);
}

.email-input::placeholder {
  color: #b1b1b1;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  padding: 24px;
  color: #fff;
  background-color: #212121;
  margin: rgb(5, 2, 2) 0px;
  padding: 8px 0px;
  border-radius: 20px;
}

.footer-subscription-heading {
  margin-bottom: 24px;
  font-size: 24px;
  margin-bottom: 3px;
  font-weight: 600;
  color: #fff;
  margin-top: 5px;
}

.footer-subscription-text {
  margin-bottom: 24px;
  font-size: 20px;
  color: #c1c1c1;
  font-weight: 600;
}

@media screen and (max-width: 820px) {
  .btn {
    width: 80%;
  }

  .email-input {
    width: 80%;
  }
}
