.email-input {
  padding: 8px 24px;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid #fff;
  box-shadow: 0px 3px 18px rgba(108, 99, 255, 0.3);
  transition: all 0.3s ease-out;
  margin: 10px;
}

.btn {
  margin: 10px;
}

.email-input:hover {
  box-shadow: 0px 3px 25px rgba(108, 99, 255, 0.5);
  transition: all 0.3s ease-out;
}

.email-input::placeholder {
  color: #b1b1b1;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  padding: 24px;
  color: #fff;
  background-color: #212121;
  margin: rgb(5, 2, 2) 0px;
  padding: 8px 0px;
  border-radius: 20px;
}

.footer-subscription-heading {
  margin-bottom: 24px;
  font-size: 24px;
  margin-bottom: 3px;
  font-weight: 600;
  color: #fff;
  margin-top: 5px;
}

.footer-subscription-text {
  margin-bottom: 24px;
  font-size: 20px;
  color: #c1c1c1;
  font-weight: 600;
}

@media screen and (max-width: 820px) {
  .btn {
    width: 80%;
  }

  .email-input {
    width: 80%;
  }
}
