.pricing__section {
  align-items: center;
  justify-content: center;
  background-color: #f8f8ff;
}

.pricing__heading {
  text-align: center;
  color: #252e48;
  padding: 30px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-560px * 14));
  }
}

.slider {
  padding-top: 70px;
  padding-bottom: 100px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 2000px;
}

.slide-track {
  animation: scroll 90s linear infinite;
  display: flex;
  width: calc(560px * 28);
}

.slide-container {
  margin: 30px;
  filter: drop-shadow(0px 6px 25px rgba(108, 99, 255, 0.4));
  transition: all 0.3s ease-out;
}

.slide-container:hover {
  filter: drop-shadow(0px 6px 35px rgba(108, 99, 255, 0.6));
  transition: all 0.3s ease-out;
}

.slide {
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .pricing__heading {
    padding: 30px;
  }
}
